<nav>
	<div class="site-title">
		<a href="/blogs"><h1>TECH BLOGS</h1></a>
		<p>A Tech Blog Site</p>
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/blogs">Blogs</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/blogs/create">New Blogs</a></li>
	</ul>
</nav>