
services:
  app:
    build:
      context: .
    container_name: node_app
    environment:
      - Node_ENV=development
      - MONGO_URI=mongodb+srv://jimmie:lastname@nodetuts.evas5.mongodb.net/blog-app?retryWrites=true&w=majority&appName=nodetuts
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - mongo
    command: npm run dev

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: