<html lang="en">
	<%- include('blog-partials/head.ejs') %>
	<body>

		<%- include('blog-partials/nav.ejs') %>

		<div class="not-found content">
			OOPS, page not found :)
		</div>

		<%- include('blog-partials/footer.ejs') %>

	</body>
</html>