<html lang="en">
	<%- include('blog-partials/header.ejs') %>
	<body>

		<%- include('blog-partials/nav.ejs') %>

		<div class="about content">
			<h2>About Us</h2>
			<p>The blog-app is a web application that allows user to read, create, update/modify and delete unwanted blog posts.</p>
			<p>Advanced features might include search functionality, notifications, media upload(images, videos) and clean, <br>user-friendly interface for both the reader and the authors.</p>
			<p>The idea is to provide a platform for users to share ideas, opinions through written content.</p>
		</div>
		<%- include('blog-partials/footer.ejs') %>

	</body>
</html>