<%- include('partials/header'); -%>

 <header>
	<div class="author">
	  <img src="/dev-tech.jpg" alt="tech image">
	</div>
	<div class="author__headings">
	  <h2>Hi, I am Razaq.</h2>
	  <h3>A Software Engineer</h3>
	  <a href="/blogs" class="btn">View Blogs</a>
	</div>
  </header>

<%- include('partials/footer'); -%>