<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <!-- <img src="/smoothie.png" alt=""> -->
  </div>
  <div class="headings">
    <h2>A BLOG APP</h2>
    <h3>By Tech For Techs Guys</h3>
    <a href="/blogs" class="btn">View Blogs</a>
  </div>
</header>


<%- include('partials/footer'); -%>