<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>MY BLOG APP</h2>
    <h3>By a Tech Guy For Tech Guys</h3>
    <a href="/blogs" class="btn">View Blogs</a>
  </div>
</header>


<%- include('partials/footer'); -%>